{% extends 'base.html.twig' %}

{% block title %}Liste des salariés{% endblock %}

{% block body %}

    <p><a href="{{ path('salarie_add') }}">Ajouter un salarié</a></p>
    <a href="{{ path('entreprise_index') }}"> liste des entreprises</a>

    <h1>Liste des salariés</h1>

    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>SALARIE</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
                <th>DATE EMBAUCHE</th>
                <th>ENTREPRISE</th>
                <th>MODIFIER</th>
                <th>SUPPRIMER</th>
            </tr>
        </thead>
        <tbody>
            {% for salarie in salarie %}
            <tr>
                <td><a href="{{ path('salarie_show', {id: salarie.id}) }}">{{ salarie }}</a></td>
                <td>{{ salarie.adresse }}</td>
                <td>{{ salarie.cp }}</td>
                <td>{{ salarie.ville }}</td>
                <td>{{ salarie.dateEmbauche | date('d/m/Y') }}</td>
                <td>{{ salarie.entreprise }}</td>
                <td><a href="{{ path('salarie_edit', {id: salarie.id}) }}">Modifier</a></td>
                <td>{# <a href="{{ path('salarie_remove', {id: salarie.id}) }}">Supprimer</a> #}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
