{% extends 'base.html.twig' %}

{% block title %}Salarié{% endblock %}

 {% block nav %}
       	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active ">
					<a class="nav-link" href="{{ path('entreprise_index') }}">
						liste des entreprises</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('salarie_index') }}">
						liste des salariés</a>
				</li>
            </ul>
        </div>	
	</nav>
 {% endblock %}

{% block body %}


    <h1>{{ salarie }}</h1>
    <p>
        Né(e) le : {{ salarie.dateNaissance | date('d/m/Y') ~ 
            ' (' ~ salarie.intervalYears(salarie.dateNaissance) ~ ' ans)' }} <br>
        {{ ' travaille à ' ~ salarie.entreprise 
            ~ ' depuis le ' ~ salarie.dateEmbauche | date('d/m/Y') ~ ' (' ~ salarie.intervalYearsMonthsDays(salarie.dateEmbauche) ~ ')' }} <br>
        Adresse : {{ salarie.adresseComplete }}
    </p>
{% endblock %}