{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}

    <p><a href="{{ path('entreprise_add') }}">Ajouter un entreprise</a></p>
    <a href="{{ path('salarie_index') }}"> liste des salariés</a>

    <h1>Liste des entreprise</h1>





<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>raison sociale  </th>
            <th>siret  </th>
            <th>adresse  </th>
            <th>cp  </th>
            <th>ville  </th>
            <th>Modifier  </th>
        </tr>
    </thead>
    <tbody>
        {% for entreprise in entreprise %}
        <tr>
            <td> <a href=" {{ path('entreprise_show', {id: entreprise.id}) }}">{{ entreprise }}  </a></td>
            <td>{{ entreprise.siret}}</td>
            <td>{{ entreprise.adresse}}</td>
            <td>{{ entreprise.cp}}</td>
            <td>{{ entreprise.ville }}</td>
            <td><a href="{{ path('entreprise_edit', {'id':entreprise.id}) }}">Modifier</a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
