{% extends 'base.html.twig' %}

{% block title %}liste des entreprises
{% endblock %}

{% block nav %}
	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item ">
					<a class="nav-link" href="{{ path('entreprise_index') }}">
						liste des entreprises</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('salarie_index') }}">
						liste des salariés</a>
				</li>
            </ul>
        </div>	
	</nav>
{% endblock %}

{% block body %}


	<button type="button" class="btn btn-outline-primary" class="nav-link active" href="{{ path('entreprise_add') }}">Ajouter un entreprise </button>
	<h1>Liste des entreprises</h1>


	<table class="table table-striped">
		<thead class="thead-light">
			<tr>
				<th>raison sociale</th>
				<th>siret</th>
				<th>adresse</th>
                <th>cp</th>
				<th>ville</th>
				<th>Modifier</th>
				<th>SUPPRIMER</th>
			</tr>
		</thead>
		<tbody>
			{% for entreprise in entreprise %}
				<tr>
					<td>
						<a href=" {{ path('entreprise_show', {id: entreprise.id}) }}">{{ entreprise }}
						</a>
					</td>
					<td>{{ entreprise.siret}}</td>
					<td>{{ entreprise.adresse}}</td>
					<td>{{ entreprise.cp}}</td>
					<td>{{ entreprise.ville }}</td>
					<td>

						<button type="button" class="btn btn-warning" href="{{ path('entreprise_edit', {'id':entreprise.id}) }}">Modifier</button>
					</td>
					<td>

						<button type="button" class="btn btn-danger" href="{{ path('entreprise_remove', {id: entreprise.id}) }}">Supprimer</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
