{% extends 'base.html.twig' %}

{% block title %}Salarié{% endblock %}

 {% block nav %}
       	<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active ">
					<a class="nav-link" href="{{ path('entreprise_index') }}">
						liste des entreprises</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{ path('salarie_index') }}">
						liste des salariés</a>
				</li>
            </ul>
        </div>	
	</nav>
 {% endblock %}

{% block body %}

    <a href="{{ path('entreprise_index') }}">Retour à la liste des entreprises</a>

    <h1>{{ entreprise }}</h1>
    <p>
        numéro de siret : {{ entreprise.siret }} <br>
        Adresse : {{ entreprise.AdresseComplete}}
    </p>



    <p>liste des employés de l'entreprise</p>

    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>SALARIE</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
                <th>DATE EMBAUCHE</th>
            </tr>
        </thead>
        <tbody>
            {% for salaries in entreprise.salaries %}
            <tr>
                <td> <a href="{{ path('salarie_show', {id: salaries.id}) }}">{{ salaries.nom }}</a></td> 
                <td>{{ salaries.adresse }}</td>
                <td>{{ salaries.cp }}</td>
                <td>{{ salaries.ville }}</td>
                <td>{{ salaries.dateEmbauche | date('d/m/Y') }}</td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}